.top_nav{
    display:inline-block;
    background-color: lightskyblue;
    width:100%;
    height:50px;
}

.nav{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
    background-color: darkblue;
    width:100%;
    height:55px;
}

.weekly_weather{
    margin-left:100px;
    text-decoration: none;
    margin-bottom:10px;
    width:120px;
    padding:1px 1px;
    color:white;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.weekly_weather:hover{
    border-bottom: 1px solid white;
}

.daily_weather{
    margin-right:100px;
    margin-bottom:10px;
    text-decoration: none;
    width:105px;
    padding:1px 1px;
    color:white;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.daily_weather:hover{
    border-bottom: 1px solid white;
}

.get_location{
    margin-bottom:10px;
    text-decoration: none;
    width:195px;
    padding:1px 1px;
    color:white;
    border-bottom: 1px solid transparent;
}

.get_location:hover{
    border-bottom: 1px solid white;
    cursor:pointer;
}

.get_location:focus{
    cursor:text;
}
