
.text_content{
    text-align:center;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list{
    list-style-type: none;
    text-align: center;
}