.daily_weather_card{
    display:flex;
    flex-direction: row;
    margin-left:40%;
    height:50px;
    width:400px;
    text-align: center;
}

.daily_weather_card_big{
    margin-left:40%;
    width:200px;
    height:300px;
}